# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\src\medium__react_reach_transition_router\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
